@import 'variables';

.section {
    margin-top: 30px;
}

.section-1{
    justify-content: space-between;
    .section-1-left{
        width: 60%;
    }
    .section-1-right{
        width: 40%;
        justify-content: end;
        min-width: 375px;
    }
    .image-showcase{
        max-width: 350px;
        margin-left: 50px;
        img{
            width: 100%;
        }
    }
}
@media (max-width: 755px) {
    .section-1{
        flex-direction: column-reverse;
        .section-1-left{
            width: 100%;
        }
        .section-1-right{
            width: 100%;
            min-width: 300px;
        }
        .image-showcase{
            margin-left: auto;
            max-width: 300px;
            margin-right: auto;
        }
    }
    .botton-box{

    }
    .head-box{
        text-align: center;
    }
}

.head-box{
    font-size: 40px;
    font-weight: 700;
}

.under-head-box{
    margin-top: 15px;
    font-size: 16px;
    color: #888;
}

.sub-box{
    margin-top: 10px;
    text-align: center;
    color: #888;
}

.botton-box{
    margin-top: 30px;
    .btn{
        &:not(:first-child){
            margin-left:20px;
        }
    }
}
@media (max-width: 755px) {
    .botton-box{
        justify-content: center;
    }
}

.social-box{
    margin-bottom: 10px;
    .social-item {
        &:not(:first-child){
            padding-left: 10px;
        }
        font-size: 16px;
        cursor: pointer;

        &:hover{
            opacity: 0.5;
        }
    }
}
@media (max-width: 755px) {
    .social-box{
        justify-content: center;
        margin-top: 10px;
    }
}

