@import 'variables';
.container{
    padding-left: 7%;
    padding-right: 7%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 970px) {
    .container {
        padding-left: 4%;
        padding-right: 4%;
    }
}

.btn-1{
    padding: 10px 20px;
    border-radius: 25px;
    background: $gradient-bg1-norm;
    background: $gradient-bg1-grad;
    color: #fff;
    cursor: pointer;
    width: fit-content;

    &:hover{
        background: $blue-theme-color;
    }
}

.d-flex{
    display: flex;
}
.jfc-c{
    justify-content: center;
}
.alt-c{
    align-items: center;
}
